<div class="conteiner">
  <div class="header">
    <h2 class="title">An example of authorization</h2>
  </div>
  <div class="body">
    <form class="auth-form">
      <div class="auth-form-wrapper">
        <div class="input-wrapper">
          <label for="login" class="input-placeholder">Login</label>
          <input type="text" class="input" id="login" />
        </div>

        <div class="input-wrapper">
          <label for="password" class="input-placeholder">Password</label>
          <input type="password" class="input" id="password" />
        </div>

        <input type="button" class="btn auth-btn" value="Auth" />
      </div>
    </form>
  </div>
</div>
